@import "./Utils/variables";
@import "./Utils/mixins.scss";

body{
    margin: auto;
    max-width: 1280px;
}

//mixin pour le header et footer car ils se repetent sur chaque page
header{
    height: 64px;
    box-shadow: 0px 0px 4px 0px rgb(0,0,0,0.6);
    margin-bottom: 2px;
    h1{
        margin: 0;
        height: 100%;
        img{
            // border:1px solid black;
            width: 155px;
            height: 100%;
            padding-top: 5px;
            margin: auto;
            display: block;
        }
    }
}

.address{
    background-color: $background-color-address;
    height: 37px;
    // padding-left: 26%;
    // margin:auto;
    padding-top: 12px;
    text-align: center;
    &__elements{
        border:1px solid black;
        display: inline;
        padding-right: 10px;
        i{
            display: inline;
            font-size: 1em;
            margin-right: 15px;
        }
        h2{
            display: inline;
            font-size: 1.1em;
        }
    }
}

.explore{
    text-align: center;
    // border:1px solid black;
    background-color: $background-color-light-grey;
    padding-top: 38px;
    padding-bottom: 67px;
    h2{
        @include title-h2;
        // margin-top: 10vw;
        width: 70%;
        margin:auto;
        margin-bottom: 11px;
        line-height: 1.1em;
        
    }
    p{
        margin-top: 0;
        font-size: 1.25em;
        line-height: 1em;
        margin-bottom: 48px;
    }
    &__button{
        font-size: 1.1em;
        border-radius: 25px 25px 25px 25px;
        text-decoration: none;
        color: white;
        background: linear-gradient(to bottom, rgb(232, 114, 218), rgb(166, 92, 219) );
        box-shadow: 0px 5px 7px rgba(0,0,0,0.2);
        padding: 15px 20px 15px 20px;
    }
}

.howtodo{
    // border:1px solid black;
    h2{
        @include title-h2;
        margin-top: 45px;;
        margin-left: 20px;
        margin-bottom: 28px;
    }
    &__cards{
        margin-left: 20px;
        margin-right:15px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        &__card{
            margin-bottom: 25px;
            width: 96%;
            margin-right:2%;
            margin-left: 2%;
            max-width: 350px;
            position: relative;
            height: 45px;
            background-color: $background-color-light-grey;
            box-shadow: 0px 5px 7px rgba(0,0,0,0.1);
            padding-top: 30px;
            border-radius: 25px;
            &__number{
                position: absolute;
                left: -10px;
                background-color:$pink-color;
                border-radius: 20px 20px 20px 20px;
                color: white;
                padding-top: 5px;
                width: 25px;
                height: 20px;
                text-align: center;
            }
            &__icon{
                margin-left: 40px;
                color: grey;
                &--pink{
                    color: $pink-color;
                }
            }
            p{
                margin-left: 15px;
                font-size: 1.1em;
                font-weight: bold;
                display: inline;
            }
        }
    }
}

img{
    width: 50px;
    height: 35px;
}