$background-color-address: #eaeaea;
$background-color-light-grey: #f6f6f6;
$background-color-footer: #353535;

$pink-color: #9356dc;

$background-color-new-tag: #99e2d0;
$text-color-new-tag: #30a387;

$padding-left-sections: 4%;
$padding-left-restaurant-card: 3%;

$min-width-MQ-footer: 900px;


//LOADER
$diameter: 20px;
$border: 0;
$duration: 1.5s;

