$background-color-address: #eaeaea;
$background-color-light-grey: #f6f6f6;
$background-color-footer: #353535;
$background-color-taste: #f5edff;

$primary-color: #9356dc;
$secondary-color: #FF79DA;
$third-color: #99E2D0;

$text-color-new-tag: #30a387;

$padding-left-sections: 4%;
$padding-left-restaurant-card: 3%;


//LOADER
$diameter: 20px;
$border: 0;
$duration: 1.5s;
$circles: (
  circle1: ( size: 110px, borderSide: 0, rotationSide: rotateLR),
  circle2: ( size: 125px, borderSide: 1, rotationSide: rotateRL),
  circle3: ( size: 140px, borderSide: 2, rotationSide: rotateLR),
  circle4: ( size: 155px, borderSide: 3, rotationSide: rotateRL),
  circle5: ( size: 170px, borderSide: 0, rotationSide: rotateLR),
);

//NOTCH
$height-card: 68px;
$width-carre: 60px;
// $color-green-notch: #99E2D0;

//appear
$shiftUp: -20px;
$duration: 2500ms;
$timings : (
  card1: 00ms,
  card2: 500ms,
  card3: 1000ms,
  card4: 1500ms
);