@mixin title-h2{
    font-size: 1.7em;
    font-weight: bold;
}

@mixin light-shadow{
    box-shadow: 0px 5px 7px rgba(0,0,0,0.1);
}

@mixin button-shadow{
    box-shadow: 0px 5px 7px rgba(0,0,0,0.2);
}