
.address{
    background-color: $background-color-address;
    height: 37px;
    padding-top: 12px;
    text-align: center;
    &__elements{
        display: inline;
        padding-right: 10px;
        i{
            display: inline;
            font-size: 1rem;
            margin-right: 15px;
        }
        p{
            display: inline;
            font-size: 1.1rem;
        }
    }
}

.explore{
    text-align: center;
    background-color: $background-color-light-grey;
    padding-top: 37px;
    padding-bottom: 60px;
    h2{
        @include title-h2;
        width: 70%;
        margin:auto;
        margin-bottom: 11px;
        line-height: 1.8rem;
    }
    p{
        margin-top: 0;
        margin-bottom: 30px;
        margin-right: 3.5%;
        margin-left: 3.5%;
        font-size: 1.1rem;
        line-height: 1.4rem;
    }
    &__button{
        @include buttonConfiguration;
        // padding: 15px 20px 15px 20px;
        width: 220px;
    }

}

.howtodo{
    padding-bottom: 40px;
    padding-top: 23px;
    padding-left: $padding-left-sections;
    padding-right: $padding-left-sections;
    h2{
        @include title-h2;
        // margin-top: 45px;
        margin-bottom: 28px;
    }
    &__cards{
        // margin-right:15px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        
    }
}
.howtodo_card{ // trop de modifs pour que la mixin cardConfiguration vaille le coup ? 
    margin-bottom: 24px; 
    width: 100%;
    margin-right:2%;
    margin-left: 2%;
    max-width: 350px;
    position: relative;
    height: 45px;
    background-color: $background-color-light-grey;
    padding-top: 29px;
    border-radius: 15px;
    @include light-shadow;
    &--lightpink{
        background-color: $background-color-taste;
    }
    &__number{
        position: absolute;
        left: -10px;
        background-color:$primary-color;
        border-radius: 20px 20px 20px 20px;
        color: white;
        padding-top: 3px;
        width: 25px;
        height: 21px;
        text-align: center;
    }
    &__icon{
        margin-left: 40px;
        color: grey;
        &--pink{
            color: $primary-color;
        }
    }
    p{
        margin-left: 15px;
        font-size: 1.1rem;
        font-weight: bold;
        display: inline;
    }
}


.restaurants{
    background-color: $background-color-light-grey;
    padding-top: 30px;
    // padding-left: $padding-left-sections;
    padding-left: 4%;
    padding-right: 4%;
    padding-bottom: 50px;
    h2{
        @include title-h2;
    }
    &__cards{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        
    }
}

.restaurantCard{
    justify-content: center;
    height: 250px;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: black;
    margin-right: 1%;
    margin-left: 1%;
    @include cardConfiguration;

    &__img{
        object-fit: cover;
        // object-position: 100% 150%;
        border-radius: 15px 15px 0px 0px;
        width: 100%;
        height: 71.5%;
        margin-bottom: 12px;

    }
    .vertical_img{
        object-position: 50% 60%;
        height: 71.5%;
        margin-bottom: 12px;
    }
    .tag_new{
        position: absolute;
        padding: 5px 10px 5px 10px;
        top: 10px;
        right: 10px;
        background-color:$third-color;
        color: $text-color-new-tag;
    }
    &__title{
        margin-top: 0;
        margin-bottom: 0;
        @include title-card;
        padding-left: $padding-left-restaurant-card;
    }
    &__location{
        font-size: 1.2rem;
        margin-top: 2px;
        margin-bottom: 10px;
        padding-left: $padding-left-restaurant-card;
    }
    .heart{
        // @include heart;
        position: absolute;
        right: 47px;
        top: auto;
        bottom: 53px;
    }
    
    &:hover{
        transform: scale(1.05);
        box-shadow: 0px 0px 25px black;
    }
}



