.image_top{
        margin: 0;
        img{
            object-fit: cover;
            // border:5px solid blue;
            width: 100%;
            height: 65vw;
            max-height: 400px;
            // height: 250px;
            position: relative;
            z-index: -1;
        }
}

.main{
    margin-top: -30px;
    margin-bottom: 0;
    border-radius: 30px 30px 0px 0px;
    position: relative;
    background-color: $background-color-light-grey;
    .main_header{
        padding-top: 33px;
        margin-bottom: 5px;
        position: relative;
        h2{
            @include font-family-Shrikhand;
            @include title-h2-menu;
            margin-top: 30px;
            margin-left: 20px;
            display: inline;
        }
        .heart{
            position: absolute;
            display: inline;
            right: 65px; /*16%*/
            top: 40px;
        }
    }
}

.order{
    padding-top: 34px;
    padding-bottom: 84px;
    &__button{
        @include buttonConfiguration;
        // padding: 10px 20px 10px 20px;
        width: 190px;
        margin-left: calc(50% - 90px);
    }
}

.menu__cards{
    // border:2px solid blue;
    display: flex;
    flex-direction: column;
    align-items: center;
    border:1px solid black;    
}


.menu_category{
    width:95%;
    // border:1px solid black;
    padding-top: 9px;
    h3{
        font-weight: normal;
        font-size: 1rem;
        margin-bottom: 23px;
        position: relative;
        &:after {
            content: "";
            position: absolute;
            left: 0px;
            bottom: -5px;
            height: 15px;
            width: 3rem;
            border-bottom: 3px solid $background-color-new-tag;
        }
    }
}


.menuCard{
    display: flex;
    // max-width: 350px;
    height: 66px;
    @include cardConfiguration;
    position: relative;
    overflow: hidden;
    &__text{
        // border:1px solid black;
        width: calc(100% - 60px); //83% calc(100% - 20px)
        transition: width 1000ms;

        &__title{
            font-weight: bold;
            // border:1px solid black;
            font-size: 1.1rem;
            padding-top: 9px;
            margin: 0 0 5px 10px;
        }
        &__info{
            // border:1px solid black;
            margin: 0 0 0 10px;
        }
        p{
            border:1px solid black;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            width: 100%;
            transition: width 1000ms;
        }
        .price{
            position: absolute;
            font-weight: bold;
            text-decoration: underline;
            right: 20px;
            bottom: 15px;
            transition: transform 1000ms;
        }
    }
    &:hover {   //:hover__text
        .menuCard__text{ //p
            width: 59%; //calc a la place  80% 210px calc(100% - $width-carre - 20px)
        }
        .price{
            transform: translate(-60px, 0px);
        }
        .menuCard__notch {
            transform: scaleX(1);
            .icon{
                animation: test 1s forwards;
            }
        }
    }
}

