//contient toute l'animation du loader

.loader{
    z-index: 10;
    position: fixed;
    margin: auto;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background: -webkit-gradient(linear, left top, left bottom, from($primary-color), to($secondary-color));
    opacity: 1;
    animation: vanish 500ms 2s forwards; 
    // animation: opacityDown 2s 3s forwards, scaleDown 1s 5s forwards; 
    @include font-family-Shrikhand;
    @include createCircles($circles);
}
  
.text{
  color: white;
  font-size: 1rem;
}


@keyframes rotateLR{
    from{
      transform: rotate(0deg);
    }
    to{
      transform: rotate(360deg);
    }
}
@keyframes rotateRL{
    from{
      transform: rotate(360deg);
    }
    to{
      transform: rotate(0deg);
    }
}


@keyframes vanish{
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  99% {
    transform: scale(1);
  }
  100% {
    // display: none;
    opacity: 0;
    transform: scale(0);
  }

}
