.menuCard__notch {
    position: absolute;
    // border:1px solid black;
    border-radius: 0px 20px 20px 0px;
    display: inline-block;
    left: 83%;
    top: 0px;
    width: $width-carre;
    height: $height-card;
    background-color: green;
    transform-origin: center right;
    transform: scaleX(0);
    transition: transform 1000ms;
}
  
.icon {
    position: absolute;
    visibility: hidden;
    color: white;
    font-size: 1em;
    width: 100%;
    top: calc(50% - 1em / 2);
    transform: rotate(360deg);
    text-align: center;
    transition: transform 1000ms;
}
  
.icon2 {
    position: absolute;
    color: white;
    font-size: 1em;
    width: 100%;
    top: calc(50% - 1em / 2);
    text-align: center;
}
  