//contient toute l'animation notch

.menuCard{
    &__text{
        transition: width 1000ms;
        .price{
            transition: transform 1000ms;
        }
    }
    &:hover {
        .menuCard__text{ 
            width: 59%; //calc a la place  80% 210px calc(100% - $width-carre - 20px)
        }
        .price{
            transform: translate(-60px, 0px);
        }
        .menuCard__notch {
            transform: scaleX(1);
            .icon{
                animation: rotation 1s forwards;
            }
        }
    }
}

.menuCard__notch {
    position: absolute;
    border-radius: 0px 20px 20px 0px;
    display: inline-block;
    right: 0;
    top: 0px;
    width: $width-carre;
    height: $height-card;
    background-color: $color-green-notch;
    transform-origin: center right;
    transform: scaleX(0);
    transition: transform 1000ms;
}
  
.icon {
    position: absolute;
    color: white;
    font-size: 1em;
    width: 100%;
    top: calc(50% - 1em / 2);
    transform: rotate(360deg);
    text-align: center;
}

@keyframes rotation{
    from{
        transform: rotate(360deg);
    }
    to{
        transform: rotate(0deg);
    }
}


// .icon2 {
//     position: absolute;
//     color: white;
//     font-size: 1em;
//     width: 100%;
//     top: calc(50% - 1em / 2);
//     text-align: center;
// }
  